* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width:100%;
}.outer {
    height: 30%;
    width: 30%;
    background:aquamarine;
    /* border: 1px solid #888; */
    transition: width 1s;
    text-align: center;
    margin:auto;
    margin-bottom: 10%;
    text-align: center;
    
    
    border-radius: 10px;
  }
  .outer:hover {
    background: yellowgreen;
    box-shadow: 4px 4px 4px #888;
    width: 40%;
  }
  .anim{
    display: flex;
    justify-content:space-around;
    height:40%;
  }
/* .cover{
  
  object-fit: contain;
} */
#feature1{
  text-align: center;
  padding:20%;
}
#feature2{
  text-align: center;
  padding:20%;
}
.title{
  margin-top: 10%;
  
}
/* .picture{
  text-align: center;
  
} */



nav {
  width: 90vw;
  border-radius: 5px;
  margin: 50px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 19px;
  background: #d0edf0;
  box-shadow: 5px 5px 10px #b7d1d3, -5px -5px 10px #e9ffff;
  padding: 1rem 2vw;
  position: relative;
}
nav .logo {
  color: #365a5e;
  font-weight: bold;
  font-size: 1.2em;
}
nav .link-box {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}
nav .link-box .link-item {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 7px 18px;
}
nav .link-box .link-item:hover {
  background: linear-gradient(145deg, #bbd5d8, #dffeff);
  box-shadow: 5px 5px 10px #b7d1d3, -5px -5px 10px #e9ffff;
}
nav .link-box .link-item:hover > .link {
  transform: translateY(-100px);
}
nav .link-box .link-item:hover > .link-icon {
  transform: translateY(-10px);
}
nav .link-box .link-item .link {
  transform: translateY(9px);
  transition: 0.5s ease;
  color: #365a5e;
}
nav .link-box .link-item .link-icon {
  transform: translateY(-50px);
  transition: 0.5s ease;
  font-size: 20px;
  color: #365a5e;
}
nav .mob-box {
  background: #0d2f3d;
  padding: 7px 18px;
  height: 58px;
  width: 78px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
nav .mob-box .mob-icon .bar {
  color: white;
  font-size: 28px;
}
.active {
  display: flex !important;
}
@media (max-width: 630px) {
  nav {
    justify-content: space-between;
 }
  nav .mob-box {
    display: flex;
 }
  nav .link-box {
    position: absolute;
    border-radius: 5px;
    flex-direction: column;
    display: none;
    top: 100px;
    width: 100%;
    left: 0;
    border-radius: 19px;
    background: linear-gradient(145deg, #dffeff, #bbd5d8);
    box-shadow: 5px 5px 10px #b7d1d3, -5px -5px 10px #e9ffff;
 }
  nav .link-box .link-item {
    border-radius: 0;
 }
}
@media (min-width: 630px) {
  nav .link-box {
    display: flex !important;
 }
}
.score {
  display: none;
  color: #00ff2a;
  padding: 15px;
  width: 45px;
  height: 25px;
  margin: 45px auto;
  text-align: center;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: white;
}
.about-me {
  border-radius: 5px;
  width: 300px;
  margin: 55px auto;
  color: white;
  text-align: center;
  background: #fff f;
  padding: 7px 18px;
}

/*footer*/
/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color:#d0edf0;
  color: black;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: black;
  font-family: "Merriweather", serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="email"] {
  border: 0;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}
/* Footer social */
.ft-social {
  padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px #777 solid;
  padding-top: 1.25rem;
}
.ft-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}
/* Footer legal */
.ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #333;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}
/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}
